#BEGIN_LEGAL
#
#Copyright (c) 2019 Intel Corporation
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#END_LEGAL
# public "base" isa configuration files

dec-spine : xed-spine.txt

#decoder patterns
dec-patterns : xed-prefixes.txt
dec-patterns : xed-reg-tables.txt
dec-patterns : xed-gpr8-dec-reg-table.txt

dec-patterns : xed-eOSZ.txt
dec-patterns : xed-eASZ.txt
dec-patterns : xed-immediates.txt
dec-patterns : xed-addressing-modes-new.txt

chip-models : xed-chips.txt
conversion-table : xed-convert.txt        

# decode patterns used for encode
enc-dec-patterns : xed-reg-tables.txt
enc-dec-patterns : xed-eASZ.txt
enc-dec-patterns : xed-immediates.txt

# encoder patterns
enc-patterns : xed-gpr8-enc-reg-table.txt
enc-patterns : xed-modrm-encode.txt
enc-patterns : xed-prefixes-encode.txt
enc-patterns : xed-regs-enc.txt

dec-instructions : xed-isa.txt
enc-instructions : xed-isa.txt

dec-instructions : xed-amd-prefetch.txt
enc-instructions : xed-amd-prefetch.txt

enc-instructions : xed-nops.txt
fields : xed-fields.txt
state : xed-state-bits.txt
registers : xed-regs.txt
registers : knc-kregs.txt

element-types : xed-operand-types.txt
element-type-base : xed-operand-element-type-enum-base.txt        
widths : xed-operand-width.txt
# extra widths for NTs and REGs that do not have them
extra-widths: oc2-extras.txt

pointer-names : xed-pointer-width.txt
   
cpuid : cpuid.xed.txt
map-descriptions: xed-base-maps.txt
