#BEGIN_LEGAL
#
#Copyright (c) 2019 Intel Corporation
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#END_LEGAL
            state:avx512-state-bits.txt
        registers:avx512-regs.txt 
        registers:avx512-kregs.txt 

     dec-patterns:avx512-evex-dec.txt # vex and evex prefixes
     enc-patterns:avx512-evex-enc.txt # vex and evex prefixes

     dec-patterns:avx512-disp8.txt 
     enc-patterns:avx512-disp8-enc.txt 

     dec-patterns:avx512-addressing-dec.txt
     enc-patterns:avx512-addressing-enc.txt

     dec-patterns:avx512-reg-table-mask.txt 
 enc-dec-patterns:avx512-reg-table-mask.txt 

     dec-patterns:avx512-reg-tables-r3.txt 
 enc-dec-patterns:avx512-reg-tables-r3.txt 
     dec-patterns:avx512-reg-tables-b3.txt 
 enc-dec-patterns:avx512-reg-tables-b3.txt 
     dec-patterns:avx512-reg-tables-n3.txt 
 enc-dec-patterns:avx512-reg-tables-n3.txt 

           widths:avx512-operand-widths.txt
    pointer-names:avx512-pointer-width.txt
           fields:avx512-fields.txt 

  dec-instructions: avx512-foundation-isa.xed.txt 
  enc-instructions: avx512-foundation-isa.xed.txt 

 conversion-table:avx512-strings.txt

cpuid : cpuid.xed.txt
map-descriptions: evex-maps.txt
