#BEGIN_LEGAL
#
#Copyright (c) 2019 Intel Corporation
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#END_LEGAL
 add:dec-spine:avx-spine.txt:2
 dec-instructions:avx-isa.txt 
 enc-instructions:avx-isa.txt 

 dec-instructions:avx-movnt-store.txt 
 enc-instructions:avx-movnt-store.txt 
 dec-instructions:avx-aes-isa.txt 
 enc-instructions:avx-aes-isa.txt 

 dec-instructions:avx-pclmul-isa.txt 
 enc-instructions:avx-pclmul-isa.txt 

            state:avx-state-bits.txt
           widths:avx-operand-width.txt
    pointer-names:avx-pointer-width.txt
        registers:avx-regs.txt 
     dec-patterns:avx-reg-table.txt 
 enc-dec-patterns:avx-reg-table.txt 
           fields:avx-fields.txt 
#
     dec-patterns:avx-isa-supp.txt
# 
     dec-patterns:avx-vex.txt	
     dec-patterns:avx-imm.txt	
#
     enc-patterns:avx-vex-enc.txt	
     enc-patterns:avx-imm-enc.txt	

chip-models:avx-chips.txt
cpuid : cpuid.xed.txt
 
map-descriptions: vex-maps.txt
