#BEGIN_LEGAL
#
#Copyright (c) 2024 Intel Corporation
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#END_LEGAL

######### General #########
           cpuid   : cpuid.xed.txt
  element-types    : avx10-2-element-types.txt
  element-type-base: avx10-2-element-type-base.txt
  dec-patterns     : avx10-2-simd-disp8.txt 
  widths           : avx10-2-element-widths.txt


######### ISA #########
    #### AVX10.2 SIMD ####
    dec-instructions : avx10-2-simd-isa.xed.txt
    enc-instructions : avx10-2-simd-isa.xed.txt

    #### AVX10.2/256 Embedded Rounding Control ####
    dec-instructions: avx10-256rc-isa.xed.txt
    enc-instructions: avx10-256rc-isa.xed.txt

    dec-patterns    : avx10-256rc-evex-dec.txt
    enc-patterns    : avx10-256rc-evex-enc.txt
    
    no-enc2-instructions: avx10-256rc-isa.xed.txt
    #### AVX10.2/SCALAR Embedded Rounding Control ####
    dec-instructions: avx10-scalar-rc-isa.xed.txt
    enc-instructions: avx10-scalar-rc-isa.xed.txt

    no-enc2-instructions: avx10-scalar-rc-isa.xed.txt

    #### MINMAX ####
    dec-instructions: avx512-minmax-isa.xed.txt
    enc-instructions: avx512-minmax-isa.xed.txt

    #### VNNI INT16 ####
    dec-instructions: avx512-vnni-int16-isa.xed.txt
    enc-instructions: avx512-vnni-int16-isa.xed.txt

    #### BF16 NE ####
    dec-instructions: avx512-bf16-ne-isa.xed.txt
    enc-instructions: avx512-bf16-ne-isa.xed.txt

    #### COM-EF ####
    dec-instructions: avx512-com-ef-isa.xed.txt
    enc-instructions: avx512-com-ef-isa.xed.txt   

    #### MOVZXC ####
    dec-instructions: avx512-movzxc-isa.xed.txt
    # Remove encoder support due to decode-encode bug (Jira SDE-3293)
    #enc-instructions: avx512-movzxc-isa.xed.txt

    #### SAT-CVT ####
    dec-instructions: avx512-sat-cvt-ds-isa.xed.txt
    enc-instructions: avx512-sat-cvt-ds-isa.xed.txt

