#BEGIN_LEGAL
#
#Copyright (c) 2019 Intel Corporation
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#END_LEGAL
# AMD extensions
fields : xed-amd3dnow-fields.txt

dec-instructions : xed-amd-3dnow.txt
enc-instructions : xed-amd-3dnow.txt

dec-instructions : xed-amd-base.txt
enc-instructions : xed-amd-base.txt

dec-instructions : xed-amd-svm.txt
enc-instructions : xed-amd-svm.txt

enc-instructions : xed-amd-sse4a.txt
dec-instructions : xed-amd-sse4a.txt

enc-instructions : xed-amd-clzero.txt
dec-instructions : xed-amd-clzero.txt

enc-instructions : xed-amd-monitorx.txt
dec-instructions : xed-amd-monitorx.txt

enc-instructions : xed-amd-mcommit.txt
dec-instructions : xed-amd-mcommit.txt

enc-instructions : xed-amd-rdpru.txt
dec-instructions : xed-amd-rdpru.txt

enc-instructions : xed-amd-snp.txt
dec-instructions : xed-amd-snp.txt

enc-instructions : xed-amd-invlpgb.txt
dec-instructions : xed-amd-invlpgb.txt

chip-models : xed-amd-chips.txt
cpuid       : cpuid-amd.xed.txt
map-descriptions : amd-3dnow-maps.txt

