#BEGIN_LEGAL
#
#Copyright (c) 2019 Intel Corporation
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  
#END_LEGAL

state:xop-state-bits.txt


dec-patterns:amd-xop-dec.txt
dec-instructions:amd-xop-isa.txt
enc-instructions:amd-xop-isa.txt
dec-instructions:amd-fma4-isa.txt
enc-instructions:amd-fma4-isa.txt
dec-instructions:amd-vpermil2-isa.txt
enc-instructions:amd-vpermil2-isa.txt
enc-patterns:amd-xop-enc.txt
cpuid : cpuid.xed.txt
map-descriptions: amd-xop-maps.txt
